.courses-container {
    display: flex;
  }
  
  .courses-sidebar {
    width: 200px;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .course-item {
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  
  .course-item:hover {
    background-color: #eaeaea;
  }
  
  .course-item.active {
    background-color: #b3d4fc;
  }
  
  .course-details {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
  }
  
  .course-details h2 {
    margin-top: 0;
  }
  
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin: 0 px40px;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    border-radius: 10px;
  }

  .enroll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    margin: 0px auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background-color: #606C5D; /* Change to your desired background color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .enroll-button:hover {
    background-color: #001C30; /* Change to your desired hover background color */
  }
  
  
  
  
  